body {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
  background-color: #fff;
}

p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #fe297d;
  cursor: pointer;
}

.bg_01 {
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  background-color: #000;
}

.picture-of-me {
  position: fixed;
  top: 32px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  background: #000 url("me.png") no-repeat fixed right center;
  background-size: contain;
}

.who-am-i {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
  max-width: 80%;
}

.emoji {
  font-size: 3rem;
}

.me {
  font-family: "Poppins", "sans-serif";
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-size: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  p {
    font-size: 4vw;
  }

  .picture-of-me {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .who-am-i {
    position: relative;
    margin: 0 auto;
    top: unset;
    left: unset;
    transform: unset;
  }
}
